

h1,h2,h3,nav,footer{
    font-family: "Trebuchet MS" ,"Lucida Grande" , Tahoma, sans-serif;

}
h3{
    border-bottom: 1pt solid grey;
    margin-bottom: 0.5em;
}
section p1{
    color: grey;
    font-style: italic;
    font-size: 0.95em;
}
figure{
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 40px;
}
figure img{  
    padding: 1px;
    border: 1px solid grey;
}
figure figcaption{
    font-size: 0.85em;
    font-style: italic;
    color: grey;
}
header, footer { 
    color: white; background-color: #3D6271; margin: 0em 4em 0.5em 4em;
}
nav{
    font-size:1.3rem; color: white; background-color: rgb(93, 136, 153); padding: 0.4em; 
}
nav a{
    color: rgb(16, 99, 167) ;margin: 0.3em;
}
body{
    background-color: rgb(40, 65, 75);
}
article{
    background-color:white; margin: 0em 4em 0.5em 4em;
    padding: 0.1em 0.5em 0.1em 0.5em
}
h2{
    font-size: 0.75rem;
}

p{
    font-size:1rem;
}
body{
    font-family: Georgia, Cambria, "Times New Roman", serif;
}